<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skrats.Co</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Fonts & Icons-->
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>
<body>
    <!--Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> SkratCorp </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html"> About </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More!
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="Skateboarding.html">Skateboarding</a>
                <a class="dropdown-item" href="music.html">Music</a>
                <a class="dropdown-item" href="art.html">Art</a>
                <a class="dropdown-item" href="electronics.html">Electronics</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

    <!--Header-->
    <header>
        <img src="SkratLeaderboard.png" alt="Leaderboard" style="height: 100%; width: 100%;">
        <div class="tagline headercard container" style="margin-top: 0;">Art Amoung The Grime</div>
    </header>

    <!--Main--> 
    <main id="app" >
        <section v-for="section in sections" :id="section.id" class="section container">
            <h2 class="section-title">{{ section.title }}</h2>
            <div class="row equal-height">
                <div class="col-md-6">
                    <div class="card">
                        <p>{{ section.description }}</p>
                    </div>
                </div>
                <div class="col-md-6" v-if="section.img">
                  <a :href="section.link" target="_blank" style="text-decoration: none;">
                    <div class="card">
                        <img :src="section.img" :alt="section.title">
                    </div>
                  </a>
                </div>
            </div>
        </section>

        <!-- Image Break Up-->
        <section class="svg-divider-flip">
          <section id="monster">
             <img src="images/GOPR1342.JPG" alt="long" 
             style="width: 50%; height: auto; display: block; border-radius: 20%; border: 15px, solid, black;">
          </section>
        </section>
        

        <!--Column Image/Text with a button probably-->
        <section class="svg-divider">
          <div class="row">
            <div class="col-md-6 centerText">
              <h2 style="font-size: 2rem;"> Violence describes us,<br>
               Art defines us</h2>
              <p style="font-size: 1.25rem;">
                We are born from scraps and pain,<br>
                Existing between cracks — in noise, in color, in chaos.<br>
                A married force, *feeding on ruin.*<br>
                Born to bleed and wither,<br>
                Yet our existence scars reality.<br>
                From us, art is created and rules are disregarded.<br>
                Our art born from resistance,<br>
                Our beauty birthed from ruin.<br>
                *Spitting color where the world rots.*<br>
                *We are scratch marks on clean walls,*<br>
                *bleeding art through broken fingernails.*<br>
                Carving freedom from concrete and broken shackles,<br>
                our freedom coated in defiance.<br>
                A cacophony of broken voices, singing.<br>
                Utterly damned and forsaken,<br>
                We exist out of spite.<br>
                For it is the damned to ignite the flame,<br>
                Burning our walls and fueling others,<br>
                To create mischief, rebellion, revolution.<br>
                Our scars, our brushstrokes.<br>
                Art among the grime.<br>
                We are Skrats.<br>
                Rot loud.<br></p>
                <img class="overlay" src="images/fireSkel.png" alt="overlay">
            </div>
            <div class="col-md-6">
                <img id="coolart" src="images/long.jpg" alt="long">
                
            </div>
          </div>
        </section>
        


    </main>
    
    <footer>
      <p>&copy; 2025 Skrats. All rights reserved.</p>
    </footer>

    <!-- JS-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="app.js"></script>
</body>
</html>

<!--
Add texture overlays
image overlays







-->